@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(201, 250, 255);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: Muli, sans-serif;
}

.slider, .slider__five, .slider__four, .slider__three, .slider__two, .slider__one {
  height: 90vh;
  position: relative;
  margin: 1rem;
  flex: 1;
  border-radius: 1rem;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: all 700ms ease-in-out;
}
.slider .slider__title, .slider__five .slider__title, .slider__four .slider__title, .slider__three .slider__title, .slider__two .slider__title, .slider__one .slider__title {
  position: absolute;
  height: 2rem;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  font-size: 1.5rem;
  color: #ffffff;
  border: none;
}

.slider.active, .active.slider__five, .active.slider__four, .active.slider__three, .active.slider__two, .active.slider__one {
  flex: 10;
}
.slider.active .slider__title, .active.slider__five .slider__title, .active.slider__four .slider__title, .active.slider__three .slider__title, .active.slider__two .slider__title, .active.slider__one .slider__title {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.slider__one {
  background: url(./images/one.jpg) center center/cover no-repeat;
}

.slider__two {
  background: url(./images/two.jpg) center center/cover no-repeat;
}

.slider__three {
  background: url(./images/three.jpg) center center/cover no-repeat;
}

.slider__four {
  background: url(./images/four.jpg) center center/cover no-repeat;
}

.slider__five {
  background: url(./images/five.jpg) center center/cover no-repeat;
}

.arrows {
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .wrapper,
  .slider,
  .slider__one,
  .slider__two,
  .slider__three,
  .slider__four,
  .slider__five {
    display: none;
  }
  .wrappers {
    display: flex;
    height: 100%;
    transition: all 700ms ease-in-out;
  }
  .slide, .slide__five, .slide__four, .slide__three, .slide__two, .slide__one {
    position: relative;
    margin: auto 0;
    /*  margin-right: 0; */
    height: 35%;
    border-radius: 0.7rem;
    border: 2px solid #ffffff;
    cursor: pointer;
  }
  .slide .title, .slide__five .title, .slide__four .title, .slide__three .title, .slide__two .title, .slide__one .title {
    position: absolute;
    height: 2rem;
    bottom: 20px;
    left: 20px;
    font-size: 1.15rem;
    color: #ffffff;
    border: none;
  }
  .slide__one {
    background: url(./images/one1.jpg) center center/cover no-repeat;
  }
  .slide__two {
    background: url(./images/two1.jpg) center center/cover no-repeat;
  }
  .slide__three {
    background: url(./images/three1.jpg) center center/cover no-repeat;
  }
  .slide__four {
    background: url(./images/four1.jpg) center center/cover no-repeat;
  }
  .slide__five {
    background: url(./images/five1.jpg) center center/cover no-repeat;
  }
  .perv-next {
    position: absolute;
    z-index: 2;
    top: 46%;
    display: flex;
    justify-content: space-between;
    /* margin-left: 1.5rem; */
  }
  .prev,
  .next {
    width: 60px;
    height: 50px;
    font-size: 1rem;
    color: #ffffff;
    background: none;
    border-radius: 1.5rem;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .next {
    left: 84%;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(248, 254, 80, 0.5);
    border: 2px solid rgba(248, 254, 80, 0.5);
    color: rgba(248, 254, 80, 0.5);
  }
}

/*# sourceMappingURL=style.css.map */
