@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$bgcolor: rgb(201, 250, 255);
$color: #ffffff;
$font: Muli, sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $bgcolor;
}


.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-family: $font;
}

.slider {
    height: 90vh;
    position: relative;
    margin: 1rem;
    flex: 1;
    border-radius: 1rem;
    border: 2px solid $color;
    cursor: pointer;
    transition: all 700ms ease-in-out;
    .slider__title {
        position: absolute;
        height: 2rem;
        bottom: 20px;
        left: 20px;
        opacity: 0;
        font-size: 1.5rem;
        color: $color;
        border: none;
    }
}

.slider.active {
    flex: 10;
    .slider__title {
        opacity: 1;
        transition: opacity 0.3s ease-in 0.4s;
    }
 }

.slider__one {
    @extend .slider;
    background: url(./images/one.jpg) center center/cover no-repeat;
}

.slider__two {
    @extend .slider;
    background: url(./images/two.jpg) center center/cover no-repeat;
}

.slider__three {
    @extend .slider;
    background: url(./images/three.jpg) center center/cover no-repeat;
}

.slider__four {
    @extend .slider;
    background: url(./images/four.jpg) center center/cover no-repeat;
}

.slider__five {

    @extend .slider;
    background: url(./images/five.jpg) center center/cover no-repeat;
}

.arrows {
    visibility: hidden;
}

@media screen and (max-width: 821px) {

    body {
        display: flex;
        position: relative;
    }

    .wrapper {
        width: 3030px;
        overflow-y: hidden;
    }

    .slider {
        width: 70%;
        height: 70%;
        flex: none;
        border-radius: 2rem;
        .slider__title {
            width: 150px;
            z-index: 1;
            left: 30px;
            height: 1.15rem;
            font-size: 1rem;
        }
    }

    .slider.active {
        flex: none;
    }

    .arrows {
        width: 85%;
        visibility: visible;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 49px;
    }

    .previous,
    .next {
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        border: 2px solid $color;
        border-radius: 40%;
        padding-left: 12px;
    }

    .img-arrows {
        width: 30px;
        height: 20px;
    }
}


@media screen and (max-width: 580px) {

    .wrapper {
        width: 1910px;
    }

    .slider {
        width: 100%;
        height: 70%;
        border-radius: 1rem;
        .slider__title {
            left: 20px;
        }
    }

    .arrows {
        width: 88%;
        left: 23px;
    }

    .previous, .next {
        width: 50px;
        height: 40px;
        padding-left: 10px;
    }

    .img-arrows {
        width: 25px;
        height: 20px;
    }
}









